$def with(numero_1, numero_2, resultado)
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>Calculadora</title>
    </head>
    <body>
        <h1>calculadora</h1>
        <a href="/">Index</a>

        <form method="POST">
            <label>Número 1:</label><br>
            <input type="number" name="numero_1" id="numero_01" value=$numero_1><br>

            <label>Número 2:</label><br>
            <input type="number" name="numero_2" id="numero_02" value=$numero_2><br>
            
            <label>Resultado :</label><br>
            <input type="text" name="resultado" id="resultado" value=$resultado><br>
            
            <button name="operacion" id="operacion" value ="suma">Sumar</button>
            <button name="operacion" id="operacion" value="resta">Restar</button>
            <button name="operacion" id="operacion" value ="multiplicacion">Multiplicar</button>
            <button name="operacion" id="operacion" value="division">Dividir</button>
        </form>
    </body>
</html>